.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #9fa2a8; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
}

.App-link {
  color: #00ff66;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: #bfbfbf;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  color: #00ff66;
}

.MuiPaper-root {
  background-color: #ffffff !important;
  color: #000000 !important;
}

.MuiButton-containedPrimary {
  background-color: #00ff66 !important;
  color: #282c34 !important;
}

.MuiButton-outlinedPrimary {
  border-color: #00ff66 !important;
  color: #00ff66 !important;
}

.MuiFormControl-root {
  color: #ffffff !important;
}

.MuiInputBase-root {
  color: #ffffff !important;
  border-color: #00ff66 !important;
}

.MuiInputLabel-root {
  color: #00ff66 !important;
}